Dictionary/Associative Array:
--

> Python provides a dictionary structure to deal with unordered set of key value pairs.

> The key and value pair is called as item.

> The values in the dictionary are mutable i.e can be changed

> The keys in the dictionary are immutable i.e cannot be changed

> It is also called as an Associative array because the key works as an Index and they are decided by the user.

In [5]:
d = { 1:"COMP" , 12:"IT" , 31:"EXTC" }
print(d)
print(type(d))
print(d[1])
print(d[12])
print(d[31])
# print(d[0]) # KeyError

{1: 'COMP', 12: 'IT', 31: 'EXTC'}
<class 'dict'>
COMP
IT
EXTC

KeyError: 0

In [9]:
d1 = {"COMP" : 3, "IT": 1, "EXTC":2}
print(d1)
print(d1["COMP"])
print(d1["EXTC"])

{'COMP': 3, 'IT': 1, 'EXTC': 2}
3
2

In [13]:
d = { 1:100 , 1.2:150 , "Darshan":"Ingle" , "BoardInfinity":1256.236 ,
    12.2456:"Learners"}
print(d)
print(d[1])
print(d["Darshan"])
print(d[12.2456])

{1: 100, 1.2: 150, 'Darshan': 'Ingle', 'BoardInfinity': 1256.236, 12.2456: 'Learners'}
100
Ingle
Learners

In [18]:
d = { 1:100 , 5.6:[1,2,3,4,5] , 12:(55,66,77), 13:{'a','e'}}
print(d)
print(d[1])
print(d[12])
print(type(d[12]))
print(d[12][1])

{1: 100, 5.6: [1, 2, 3, 4, 5], 12: (55, 66, 77), 13: {'a', 'e'}}
100
(55, 66, 77)
<class 'tuple'>
66

In [25]:
d = {1:"COMP", 2: "IT", 3:"EXTC"}
print(3 in d)
print("EXTC" in d)
print(str(d))
print(type(str(d)))
print(d.keys())
print(list(d.keys()))
print(d.values())

True
False
{1: 'COMP', 2: 'IT', 3: 'EXTC'}
<class 'str'>
dict_keys([1, 2, 3])
[1, 2, 3]
dict_values(['COMP', 'IT', 'EXTC'])

In [27]:
d1 = {1:"COMP", 2: "IT", 3:"EXTC"}
d2 = {100:"CHEM"}
print(d1)
print(d2)
d1.update(d2)
print(d1)
print(d2)

{1: 'COMP', 2: 'IT', 3: 'EXTC'}
{100: 'CHEM'}
{1: 'COMP', 2: 'IT', 3: 'EXTC', 100: 'CHEM'}
{100: 'CHEM'}

In [29]:
d1 = {"COMP" : 3, "IT": 1, "EXTC":2}
print(d1.get("IT"))
print(d1['IT'])

1
1

In [30]:
d = { 1:50, 2:100, 3:150, 4:200, 5:250, 1:300 }
print(d)

{1: 300, 2: 100, 3: 150, 4: 200, 5: 250}

In [35]:
d = { 1:50, 2:100, 3:150, 4:200, 5:250 }
print(d)
print(d[1])
d[1] = "Darshan"
print(d)

{1: 50, 2: 100, 3: 150, 4: 200, 5: 250}
50
{1: 'Darshan', 2: 100, 3: 150, 4: 200, 5: 250}

In [36]:
d = { 1:50, 2:100, 3:150, 4:200, 5:250 }
print(d)
del d[3]
print(d)

# d.clear()

# cannot have duplicate keys - when we have duplicate keys the latest value will be 
# retained previous value will be dropped

{1: 50, 2: 100, 3: 150, 4: 200, 5: 250}
{1: 50, 2: 100, 4: 200, 5: 250}

Random Module
--

It is used to deal with numbers in random manner.

In [109]:
import random
print(random.choice((1,2,3,4,5,6)))
print(random.choice([11,22,33,44,55,66]))
print(random.choice('Darshan'))
print(random.randrange(1,10))
print(random.randrange(1,10,2))
print(random.random())

6
66
s
1
3
0.3347504513703603

In [139]:
st=[1,3,2,6]
random.shuffle(st)
print(st)
#Try executing
#print(random.shuffle(st))
print(random.uniform(7,14)) # uniform(x,y) gives a number n such that x <= n < y
# print(random.uniform(7,14))

[3, 2, 6, 1]
7.225553489670043

In [140]:
# Dictionary can contain lists
# type your code here
l = { 1:[11,12] , 2:[44,55] }
print(l)
print(type(l))

{1: [11, 12], 2: [44, 55]}
<class 'dict'>

In [142]:
# Dictionary can contain tuples
# type your code here
l = { 1:(11,12) , 2:[44,55] }
print(l)
print(type(l))
print(type(l[1]))

{1: (11, 12), 2: [44, 55]}
<class 'dict'>
<class 'tuple'>

In [ ]:
# Dictionary can contain tuples
# type your code here

print(l)
print(type(l))
print(type(l[4]))

In [1]:
# Dictionary can contain dictionaries
l = {1: ('1',2), 2: ('1', '2'), 100:{444: ('1',2), 445: ('1', '2'), 446: ('2', '3')},3: ('2', '3'), 4: ('3')}
print(l)
print(type(l))
print("l[1]= ",l[1])
print("l[100]= ",l[100])

{1: ('1', 2), 2: ('1', '2'), 100: {444: ('1', 2), 445: ('1', '2'), 446: ('2', '3')}, 3: ('2', '3'), 4: '3'}
<class 'dict'>
l[1]=  ('1', 2)
l[100]=  {444: ('1', 2), 445: ('1', '2'), 446: ('2', '3')}

# Dictionary Comprehension

In [3]:
d = dict () # cretes an empty dictionary
print(d)
print(type(d))

{}
<class 'dict'>

In [4]:
for num in range (1,11):
    d[num] = num**2

In [5]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [6]:
# dictionary comprehension

dc = { num : num**2 for num in range(1,11)}
dc

# we did the same thing for list we use to jsut num and

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [7]:
# how did we do it in list

lc = { num**2 for num in range(1,11)}
lc

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [9]:
# example 

old_menucard = {
    'pav bhaji' : 80,
    'masala dosa' : 75,
    'chaas' : 20,
    'tea' : 15,
    'momos' : 85
}

old_menucard

{'pav bhaji': 80, 'masala dosa': 75, 'chaas': 20, 'tea': 15, 'momos': 85}

# lets say we want to have a 10% hike in price of every item

In [12]:
new_menucard = {k:v+(0.1*v) for (k,v) in old_menucard.items() }
new_menucard

{'pav bhaji': 88.0,
 'masala dosa': 82.5,
 'chaas': 22.0,
 'tea': 16.5,
 'momos': 93.5}

In [13]:
# round of to zero decimals
new_menucard = {k:int(round(v+(0.1*v),0)) for (k,v) in old_menucard.items() }
new_menucard

{'pav bhaji': 88, 'masala dosa': 82, 'chaas': 22, 'tea': 16, 'momos': 94}

In [16]:
# can we have IF conditions in the Dictionary comprehension

test_marks = {'A':28,'B':35, 'C':50, 'D':12}
print(d)
# i want to sperate student who as failed (any body who as got less than 18 is fail)

# passing = 19 marks

failed_students = { k:v for (k,v) in test_marks.items() if v<18}
failed_students

{'A': 28, 'B': 35, 'C': 50, 'D': 37}

{'D': 12}

In [17]:
# we can use multiple conditions as well

d = {
    1:38,
    2:48,
    3:57,
    4:33
}

new = {k:v for (k,v) in d.items() if v%2 != 0 if v<40}
new

{4: 33}

In [18]:
# classify as old or young based on age

d = {
    1:38,
    2:48,
    3:57,
    4:33
}

new = {k:('old' if v>40 else 'young') for (k,v) in d.items()}
new

{1: 'young', 2: 'old', 3: 'old', 4: 'young'}

In [19]:
# Nested dictionary 

# basic 
d = {
    k1:k1*2 for k1 in range (2,5)
}
d

{2: 4, 3: 6, 4: 8}

In [20]:
# now build up

d = {
    k1:{k2:k1*k2 for k2 in range (1,6)} for k1 in range(2,5)
}
d

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20}}